.App {
  height: 100vh;
  background: #272727;
  font-family: 'Helvetica', sans-serif;
  padding: 50px 0;
}

.counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.counter__header {
  color: #FFF;
  font-size: 40px;
}

.counter__value {
  font-size: 40px;
  color: #FFFFFF80;
}

.counter__container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.control__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 25px;
  background: linear-gradient(45deg, #d7514d, #a9332f);
  border-radius: 10px;
  border: none;
  color: #FFF;
  transition: 0.2s ease-in-out;
}

.control__btn:hover {
  opacity: .7;
}

.control__btn:active {
  opacity: .9;
}

.reset__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  font-size: 20px;
  background: linear-gradient(45deg, #737373, #6c6c6c);
  border-radius: 10px;
  border: none;
  color: #FFF;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.reset__btn:not(:disabled):hover {
  opacity: .7;
}

.reset__btn:not(:disabled):active {
  opacity: .9;
}

.reset__btn:disabled {
  opacity: .5;
  cursor: not-allowed;
}